body {
    margin: 0;
    padding: 16px;

    width: auto;
    height: 96vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: hsl(30, 38%, 92%);
}


#product-img {
    width: 100%;
    height: 40%;
    
    background-image: url('../images/image-product-mobile.jpg');
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    border-radius: 8px 8px 0px 0px;
}

#product-card {
    padding: 16px;

    width: auto;
    height: 60%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: white;

    border-radius: 0px 0px 8px 8px;
}

#title {
    font-family: 'Fraunces', serif;
    font-size: 32px;
}

#paragraph {
    font-family: 'Montserrat', sans-serif;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}