* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100vh;
}

body {
    margin: 0;
    padding: 32px 16px;
    
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: hsl(30, 38%, 92%);
}


#content {
    width: 100%;
    height: 100%;
    

    display: flex;
    flex-direction: column;
    

}

#product-img {
    width: 100%;
    height: 100%;
    
    flex-basis: 40%;

    background-image: url('../images/image-product-mobile.jpg');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 8px 8px 0px 0px;
}

#product-card {
    padding: 16px;

    width: 100%;
    height: 100%;
    flex-basis: 60%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;

    background-color: white;

    border-radius: 0px 0px 8px 8px;
}

#subtitle {
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
}

#title {
    padding: 16px 0;
    font-family: 'Fraunces', serif;
    font-size: 32px;
    color: hsl(212, 21%, 14%);

}

#paragraph {
    padding: 16px 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;

    color: hsl(228, 12%, 48%);
}

#price-flexbox {
    display: flex;
    flex-direction: row;
    align-items: center;

}

#price-sale {
    font-family: 'Fraunces', serif;
    font-size: 32px;
    color: hsl(158, 36%, 37%);
    padding-right: 8px;
}

#price-original {
    padding-left: 8px;
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
}

#add-to-cart {
    display: flex;
    align-items: center;
    justify-content: center;


    width: 100%;
    height: 60px;

    margin: 16px 0;
    padding: 16px 0;
    border: 0px;
    border-radius: 8px;

    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;

    background-color: hsl(158, 36%, 37%);
    color: white;

}

@media screen and (min-width: 1440px) {

    /* body {
        padding: 160px 512px;
    } */

    #content {
        flex-direction: row;
        
        width: 910px;
        height: 512px;
    }

    #product-img {
        background-image: url('../images/image-product-desktop.jpg');
        flex-basis: 50%;
    }

    #product-card {
        justify-content: space-evenly;
        flex-basis: 50%;
    }

}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}